war/WEB-INF/lib/acegi-security-1.0.5.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/aspectjrt.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/aspectjweaver.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/commons-collections.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/commons-fileupload.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/ehcache-1.2.4.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/jstl.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/mail.jar svn_mime_002dtype=application%2Foctet-stream
war/WEB-INF/lib/poi-3.0.2-FINAL-20080204.jar svn_mime_002dtype=application%2Foctet-stream
