<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1255" />
		<title>Authority for Research and Development</title>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin:0;padding:0;">
	#if ($recipient.preferedLocaleId=="en_US")
    	#set ($direction ="rtl")
    	#set ($internalDirection ="ltr")
    	#set ($align ="left")
	#else
    	#set ($direction ="ltr")
    	#set ($internalDirection ="rtl")
   		#set ($align ="right")
	#end
	
	
<table width="100%" border="0" cellpadding="0" cellspacing="0" dir="$direction">
	<tr><td width="100%" height="1" bgcolor="#ffffff" style="font-size:0px;line-height:0px;background:#ffffff;"></td></tr>
	<tr>
		<td width="100%" height="86" align="center" valign="middle" bgcolor="#f9f9fa" style="background-color:#f9f9fa;text-align:center;vertical-align:middle;">
		<a href="#"><img src="cid:logo" width="431" height="66" border="0" alt="הרשות למחקר ופיתוח - האוניברסיטה העברית בירושלים" /></a>
		</td>
	</tr>	
	<tr><td width="100%" height="1" bgcolor="#d9dada" style="font-size:0px;line-height:0px;background:#d9dada;"></td></tr>
	<tr>
		<td width="100%" height="68" bgcolor="#ffffff" style="background-color:#ffffff;">
			<table width="570" border="0" cellpadding="0" cellspacing="0" align="center">
				<tr><td width="570" height="10" style="font-size:0px;line-height:0px;"></td></tr>
				<tr>
					<td width="570" align="center" style="font-family:Arial;font-weight:normal;font-size:13px;color:#333333;direction:$internalDirection;text-align:center;text-decoration:none;line-height: 22px;">
						<span style="font-size:16px;"><strong>${recipient.preferedLocaleDegreeFullName}</strong>, $messageService.getMessage($postsSubjectDateKey, $language.localeId) ${today}</span><br />
						${postsAnnouncement}
					</td></tr>
					<tr><td width="570" height="10" style="font-size:0px;line-height:0px;"></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="100%" height="1000" align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
			<table width="586" border="0" cellpadding="0" cellspacing="0" align="center" dir="$direction">
				<tr><td width="586" height="19" style="font-size:0px;line-height:0px;"></td></tr>
				
				#if ($hasResearchFundingPosts)
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0" dir="$direction">
							<tr>
								<td width="8" height="42"></td>
								<td width="334" height="42"></td>
								<td width="42" height="42" align="center" valign="middle" bgcolor="#565656" style="background:#565656;text-align:center;vertical-align:middle;"><img src="cid:arrow_$direction" alt="" /></td>
								<td width="1" height="42" style="font-size:0px;line-height:0px;"></td>
								<td width="193" height="42" valign="middle" align="$align" bgcolor="#04bde5" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
									<table width="192" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="30" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
											<img src="cid:i-dollar" width="25" height="26" alt="" style="vertical-align:middle;" />
										</td>
										<td width="150" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
										 $messageService.getMessage($researchFundingKey, $language.localeId)
										</td>
									</tr>
									</table>
								</td>
								<td width="8" height="42" bgcolor="#04bde5" style="background:#04bde5;font-size:0px;line-height:0px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="9" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="9" valign="top" style="line-height:9px;"><img src="cid:triangle_$direction" width="8" height="9" alt="" style="display:block;vertical-align:top;" /></td>
							</tr>
							#foreach ($post in $researchFundingPosts)
								#if ($post.localeId=="en_US")
    								#set ($postDirection ="ltr")
    								#set ($postAlign ="left")
								#else
    								#set ($postDirection ="rtl")
   									#set ($postAlign ="right")
 								#end
							
 							<tr>
 								<td width="8" style="font-size:0px;line-height:0px;"></td>
 								<td width="559" align=$postAlign valign="middle" style="font-family:Arial;direction:$postDirection;text-align:$postAlign;text-decoration:none;vertical-align:middle;">

								$post.messageNewFormatted

								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="15" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									#if ($post.localeId==$recipient.preferedLocaleId)
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="93" bgcolor="#565656" style="text-align:center" ><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
										</tr>
									</table>
									#else
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="93" bgcolor="#565656" style="text-align:center"><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
										</tr>
									</table>
									#end
									
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#if ($post.selfSent && !$post.verified)
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="8" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="559" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$direction;text-align:$align;text-decoration:none;">
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/approvePost.html?id=${post.id}">$messageService.getMessage($postVerificationKey, $recipient.preferedLocaleId)</a>
											&nbsp;<img src="cid:dot"/>&nbsp;
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/post.html?id=${post.id}">$messageService.getMessage($postEditKey, $recipient.preferedLocaleId)</a>
											</td>
											<td width="8" height="30" valign="middle" style="font-size:0px;line-height:0px;"></td>
											<td width="3" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="8"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td colspan="5"><hr color="#ededed"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							
							<tr>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="22" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
				#end <!-- Section end -->
				
				#if ($hasConferencePosts)
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="42"></td>
								<td width="334" height="42"></td>
								<td width="42" height="42" align="center" valign="middle" bgcolor="#565656" style="background:#565656;text-align:center;vertical-align:middle;"><img src="cid:arrow_$direction" alt="" /></td>
								<td width="1" height="42" style="font-size:0px;line-height:0px;"></td>
								<td width="193" height="42" valign="middle" align="$align" bgcolor="#04bde5" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
									<table width="192" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="30" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
											<img src="cid:i-group" width="25" height="26" alt="" style="vertical-align:middle;" />
										</td>
										<td width="150" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
										 $messageService.getMessage($conferenceKey, $language.localeId)
										</td>
									</tr>
									</table>
								</td>
								<td width="8" height="42" bgcolor="#04bde5" style="background:#04bde5;font-size:0px;line-height:0px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="9" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="9" valign="top"><img src="cid:triangle_$direction" width="8" height="9" alt="" style="display:block;vertical-align:top;" /></td>
							</tr>
							#foreach ($post in $conferencePosts)
								#if ($post.localeId=="en_US")
     								#set ($postDirection ="ltr")
    								#set ($postAlign ="left")
								#else
    								#set ($postDirection ="rtl")
   									#set ($postAlign ="right")
 								#end
 							<tr>
 								<td width="8" style="font-size:0px;line-height:0px;"></td>
 								<td width="559" align=$postAlign valign="middle" style="font-family:Arial;direction:$postDirection;text-align:$postAlign;text-decoration:none;vertical-align:middle;vertical-align:middle;">

								$post.messageNewFormatted

								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="15" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									#if ($post.localeId==$recipient.preferedLocaleId)
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="93" bgcolor="#565656" style="text-align:center" ><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
										</tr>
									</table>
									#else
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="93" bgcolor="#565656" style="text-align:center"><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
										</tr>
									</table>
									#end
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#if ($post.selfSent && !$post.verified)
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="8" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="559" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$direction;text-align:$align;text-decoration:none;">
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/approvePost.html?id=${post.id}">$messageService.getMessage($postVerificationKey, $recipient.preferedLocaleId)</a>
											&nbsp;<img src="cid:dot"/>&nbsp;
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/post.html?id=${post.id}">$messageService.getMessage($postEditKey, $recipient.preferedLocaleId)</a>
											</td>
											<td width="8" height="30" valign="middle" style="font-size:0px;line-height:0px;"></td>
											<td width="3" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="8"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td colspan="5"><hr color="#ededed"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="22" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
				#end <!-- Section end -->

				#if ($hasPrizePosts)
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="42"></td>
								<td width="334" height="42"></td>
								<td width="42" height="42" align="center" valign="middle" bgcolor="#565656" style="background:#565656;text-align:center;vertical-align:middle;"><img src="cid:arrow_$direction" alt="" /></td>
								<td width="1" height="42" style="font-size:0px;line-height:0px;"></td>
								<td width="193" height="42" valign="middle" align="$align" bgcolor="#04bde5" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
									<table width="192" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="30" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
											<img src="cid:i-medal" width="25" height="26" alt="" style="vertical-align:middle;" />
										</td>
										<td width="150" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
										 $messageService.getMessage($prizeKey, $language.localeId)
										</td>
									</tr>
									</table>
								</td>
								<td width="8" height="42" bgcolor="#04bde5" style="background:#04bde5;font-size:0px;line-height:0px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="9" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="9" valign="top"><img src="cid:triangle_$direction" width="8" height="9" alt="" style="display:block;vertical-align:top;" /></td>
							</tr>
							#foreach ($post in $prizePosts)
								#if ($post.localeId=="en_US")
    								#set ($postDirection ="ltr")
    								#set ($postAlign ="left")
								#else
    								#set ($postDirection ="rtl")
   									#set ($postAlign ="right")
 								#end
 							<tr>
 								<td width="8" style="font-size:0px;line-height:0px;"></td>
 								<td width="559" align=$postAlign valign="middle" style="font-family:Arial;direction:$postDirection;text-align:$postAlign;text-decoration:none;vertical-align:middle;">
 							
								$post.messageNewFormatted
								
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="15" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									#if ($post.localeId==$recipient.preferedLocaleId)
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="93" bgcolor="#565656" style="text-align:center" ><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
										</tr>
									</table>
									#else
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="93" bgcolor="#565656" style="text-align:center"><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
										</tr>
									</table>
									#end
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#if ($post.selfSent && !$post.verified)
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="8" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="559" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$direction;text-align:$align;text-decoration:none;">
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/approvePost.html?id=${post.id}">$messageService.getMessage($postVerificationKey, $recipient.preferedLocaleId)</a>
											&nbsp;<img src="cid:dot"/>&nbsp;
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/post.html?id=${post.id}">$messageService.getMessage($postEditKey, $recipient.preferedLocaleId)</a>
											</td>
											<td width="8" height="30" valign="middle" style="font-size:0px;line-height:0px;"></td>
											<td width="3" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="8"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td colspan="5"><hr color="#ededed"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="22" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
				#end <!-- Section end -->

				#if ($hasResearcherExchangePosts)
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="42"></td>
								<td width="334" height="42"></td>
								<td width="42" height="42" align="center" valign="middle" bgcolor="#565656" style="background:#565656;text-align:center;vertical-align:middle;"><img src="cid:arrow_$direction" alt="" /></td>
								<td width="1" height="42" style="font-size:0px;line-height:0px;"></td>
								<td width="193" height="42" valign="middle" align="$align" bgcolor="#04bde5" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
									<table width="192" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="30" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
											<img src="cid:i-man" width="25" height="26" alt="" style="vertical-align:middle;" />
										</td>
										<td width="150" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
										 $messageService.getMessage($researchersExchangeKey, $language.localeId)
										</td>
									</tr>
									</table>
								</td>
								<td width="8" height="42" bgcolor="#04bde5" style="background:#04bde5;font-size:0px;line-height:0px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="9" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="9" valign="top"><img src="cid:triangle_$direction" width="8" height="9" alt="" style="display:block;vertical-align:top;" /></td>
							</tr>
							#foreach ($post in $researcherExchangePosts)
								#if ($post.localeId=="en_US")
    								#set ($postDirection ="ltr")
    								#set ($postAlign ="left")
								#else
    								#set ($postDirection ="rtl")
   									#set ($postAlign ="right")
 								#end
 							<tr>
 								<td width="8" style="font-size:0px;line-height:0px;"></td>
 								<td width="559" align=$postAlign valign="middle" style="font-family:Arial;direction:$postDirection;text-align:$postAlign;text-decoration:none;vertical-align:middle;">

								$post.messageNewFormatted

								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="15" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									#if ($post.localeId==$recipient.preferedLocaleId)
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="93" bgcolor="#565656" style="text-align:center" ><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
										</tr>
									</table>
									#else
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="93" bgcolor="#565656" style="text-align:center"><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
										</tr>
									</table>
									#end
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#if ($post.selfSent && !$post.verified)
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="8" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="559" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$direction;text-align:$align;text-decoration:none;">
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/approvePost.html?id=${post.id}">$messageService.getMessage($postVerificationKey, $recipient.preferedLocaleId)</a>
											&nbsp;<img src="cid:dot"/>&nbsp;
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/post.html?id=${post.id}">$messageService.getMessage($postEditKey, $recipient.preferedLocaleId)</a>
											</td>
											<td width="8" height="30" valign="middle" style="font-size:0px;line-height:0px;"></td>
											<td width="3" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="8"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td colspan="5"><hr color="#ededed"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="22" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
				#end <!--section end -->
				
				#if($hasScholarshipPosts)
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="42"></td>
								<td width="334" height="42"></td>
								<td width="42" height="42" align="center" valign="middle" bgcolor="#565656" style="background:#565656;text-align:center;vertical-align:middle;"><img src="cid:arrow_$direction" alt="" /></td>
								<td width="1" height="42" style="font-size:0px;line-height:0px;"></td>
								<td width="193" height="42" valign="middle" align="$align" bgcolor="#04bde5" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
									<table width="192" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="30" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
											<img src="cid:i-hat" width="25" height="26" alt="" style="vertical-align:middle;" />
										</td>
										<td width="150" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
										 $messageService.getMessage($scholarshipKey, $language.localeId)
										</td>
									</tr>
									</table>
								</td>
								<td width="8" height="42" bgcolor="#04bde5" style="background:#04bde5;font-size:0px;line-height:0px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="9" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="9" valign="top"><img src="cid:triangle_$direction" width="8" height="9" alt="" style="display:block;vertical-align:top;" /></td>
							</tr>
							#foreach ($post in $scholarshipPosts)
								#if ($post.localeId=="en_US")
    								#set ($postDirection ="ltr")
    								#set ($postAlign ="left")
								#else
    								#set ($postDirection ="rtl")
   									#set ($postAlign ="right")
 								#end
 							<tr>
 								<td width="8" style="font-size:0px;line-height:0px;"></td>
 								<td width="559" align=$postAlign valign="middle" style="font-family:Arial;direction:$postDirection;text-align:$postAlign;text-decoration:none;vertical-align:middle;">

								$post.messageNewFormatted
								
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="15" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									#if ($post.localeId==$recipient.preferedLocaleId)
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="93" bgcolor="#565656" style="text-align:center" ><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
										</tr>
									</table>
									#else
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="93" bgcolor="#565656" style="text-align:center"><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
										</tr>
									</table>
									#end
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#if ($post.selfSent && !$post.verified)
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="8" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="559" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$direction;text-align:$align;text-decoration:none;">
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/approvePost.html?id=${post.id}">$messageService.getMessage($postVerificationKey, $recipient.preferedLocaleId)</a>
											&nbsp;<img src="cid:dot"/>&nbsp;
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/post.html?id=${post.id}">$messageService.getMessage($postEditKey, $recipient.preferedLocaleId)</a>
											</td>
											<td width="8" height="30" valign="middle" style="font-size:0px;line-height:0px;"></td>
											<td width="3" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="8"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td colspan="5"><hr color="#ededed"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="22" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
				#end
				
				#if($hasAdminMessagePosts)
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="42"></td>
								<td width="334" height="42"></td>
								<td width="42" height="42" align="center" valign="middle" bgcolor="#565656" style="background:#565656;text-align:center;vertical-align:middle;"><img src="cid:arrow_$direction" alt="" /></td>
								<td width="1" height="42" style="font-size:0px;line-height:0px;"></td>
								<td width="193" height="42" valign="middle" align="$align" bgcolor="#04bde5" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
									<table width="192" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="30" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
											<img src="cid:i-attention" width="25" height="26" alt="" style="vertical-align:middle;" />
										</td>
										<td width="150" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
										 $messageService.getMessage($administrativeMessageKey, $language.localeId)
										</td>
									</tr>
									</table>
								</td>
								<td width="8" height="42" bgcolor="#04bde5" style="background:#04bde5;font-size:0px;line-height:0px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="9" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="9" valign="top"><img src="cid:triangle_$direction" width="8" height="9" alt="" style="display:block;vertical-align:top;" /></td>
							</tr>
							#foreach ($post in $adminMessagePosts)
								#if ($post.localeId=="en_US")
    								#set ($postDirection ="ltr")
    								#set ($postAlign ="left")
								#else
    								#set ($postDirection ="rtl")
   									#set ($postAlign ="right")
 								#end
 							<tr>
 								<td width="8" style="font-size:0px;line-height:0px;"></td>
 								<td width="559" align="$postAlign" valign="middle" style="font-family:Arial;direction:$postDirection;text-align:$postAlign;text-decoration:none;vertical-align:middle;">

								$post.messageNewFormatted

								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="15" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									#if ($post.localeId==$recipient.preferedLocaleId)
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="93" bgcolor="#565656" style="text-align:center" ><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
										</tr>
									</table>
									#else
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="93" bgcolor="#565656" style="text-align:center"><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
										</tr>
									</table>
									#end
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#if ($post.selfSent && !$post.verified)
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="8" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="559" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$direction;text-align:$align;text-decoration:none;">
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/approvePost.html?id=${post.id}">$messageService.getMessage($postVerificationKey, $recipient.preferedLocaleId)</a>
											&nbsp;<img src="cid:dot"/>&nbsp;
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/post.html?id=${post.id}">$messageService.getMessage($postEditKey, $recipient.preferedLocaleId)</a>
											</td>
											<td width="8" height="30" valign="middle" style="font-size:0px;line-height:0px;"></td>
											<td width="3" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="8"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td colspan="5"><hr color="#ededed"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="22" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
				#end
				
				#if ($hasFundingMessagePosts)
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="42"></td>
								<td width="334" height="42"></td>
								<td width="42" height="42" align="center" valign="middle" bgcolor="#565656" style="background:#565656;text-align:center;vertical-align:middle;"><img src="cid:arrow_$direction" alt="" /></td>
								<td width="1" height="42" style="font-size:0px;line-height:0px;"></td>
								<td width="193" height="42" valign="middle" align="$align" bgcolor="#04bde5" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
									<table width="192" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="30" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
											<img src="cid:i-attention-dollar" width="25" height="26" alt="" style="vertical-align:middle;" />
										</td>
										<td width="150" height="42" valign="middle" style="background:#04bde5;font-family:Arial;font-weight:bold;font-size:16px;color:#ffffff;direction:$internalDirection;text-align:$align;text-decoration:none;vertical-align:middle;">
										 $messageService.getMessage($fundingMessageKey, $language.localeId)
										</td>
									</tr>
									</table>
								</td>
								<td width="8" height="42" bgcolor="#04bde5" style="background:#04bde5;font-size:0px;line-height:0px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="586">
						<table width="586" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="9" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="9" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="9" valign="top"><img src="cid:triangle_$direction" width="8" height="9" alt="" style="display:block;vertical-align:top;" /></td>
							</tr>
							#foreach ($post in $fundingMessagePosts)
								#if ($post.localeId=="en_US")
    								#set ($postDirection ="ltr")
    								#set ($postAlign ="left")
								#else
    								#set ($postDirection ="rtl")
   									#set ($postAlign ="right")
 								#end
 							<tr>
 								<td width="8" style="font-size:0px;line-height:0px;"></td>
 								<td width="559" align=$postAlign valign="middle" style="font-family:Arial;direction:$postDirection;text-align:$postAlign;text-decoration:none;vertical-align:middle;">

								$post.messageNewFormatted

								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="15" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="15" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									#if ($post.localeId==$recipient.preferedLocaleId)
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="93" bgcolor="#565656" style="text-align:center" ><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
										</tr>
									</table>
									#else
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="93" bgcolor="#565656" style="text-align:center"><a href="https://$server/call_for_proposal/$post.callForProposalUrlTitle" style="background:#565656;display:block;width:93px;height:30px;font-family:Arial;font-weight:normal;font-size:13px;color:#ffffff;text-align:center;text-decoration:none;vertical-align:middle;line-height:30px;">$messageService.getMessage($moreDetailsKey, $post.localeId)</a></td>
											<td width="10" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="18" height="30" valign="middle" style="font-size:0px;line-height:0px;"><img src="cid:tag" width="18" height="18" alt=""style="vertical-align:center;" /></td>
											<td width="6" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="432" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$postDirection;text-align:$postAlign;text-decoration:none;">
											$messageService.getMessage($relevantSubjectsPrefixKey, $post.localeId) ${post.recipientPostCommonSubjectsString}
											 </td>
										</tr>
									</table>
									#end
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#if ($post.selfSent && !$post.verified)
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="8" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="559" height="30" style="font-family:Arial;font-weight:normal;font-size:11px;color:#979797;direction:$direction;text-align:$align;text-decoration:none;">
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/approvePost.html?id=${post.id}">$messageService.getMessage($postVerificationKey, $recipient.preferedLocaleId)</a>
											&nbsp;<img src="cid:dot"/>&nbsp;
											<a style="color:#00a6ca;text-decoration:none;" href="https://${server}/post.html?id=${post.id}">$messageService.getMessage($postEditKey, $recipient.preferedLocaleId)</a>
											</td>
											<td width="8" height="30" valign="middle" style="font-size:0px;line-height:0px;"></td>
											<td width="3" height="30" style="font-size:0px;line-height:0px;"></td>
											<td width="8"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
							<tr>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="559">
									<table width="559" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td colspan="5"><hr color="#ededed"></td>
										</tr>
									</table>
								</td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
								<td width="3" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" style="font-size:0px;line-height:0px;"></td>
							</tr>
							<tr>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="559" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
								<td width="3" height="22" bgcolor="#ededed" style="background:#ededed;"></td>
								<td width="8" height="22" style="font-size:0px;line-height:0px;"></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
				#end
				
				<tr>
					<td width="586" height="30">
						<table width="586" border="0" cellpadding="0" cellspacing="0" align="center">
							<tr>
								<td width="8"></td>
								<td width="570" height="7" bgcolor="#f0f0f0" style="background:#f0f0f0;"></td>
								<td width="8"></td>
							</tr>
							<tr>
								<td width="8"></td>
								<td width="570" bgcolor="#f0f0f0" style="background:#f0f0f0;font-family:Arial;font-weight:normal;font-size:13px;color:#333333;direction:$direction;text-align:center;text-decoration:none;">
								$messageService.getMessage($postSuffixKey, $language.localeId) <a href="https://${server}/personPost.html?id=${recipient.id}" style="color:#04bde5;text-decoration:none;">$messageService.getMessage($editSubscriptionDetailsKey, $language.localeId)</a>
								</td>
								<td width="8"></td>
							</tr>
							<tr>
								<td width="8"></td>
								<td width="570" height="7" bgcolor="#f0f0f0" style="background:#f0f0f0;"></td>
								<td width="8"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td width="586" height="12" style="font-size:0px;line-height:0px;"></td></tr>
				<tr><td width="586" style="font-family:Arial;font-weight:normal;font-size:12px;color:#999999;direction:$direction;text-align:center;text-decoration:none;">$messageService.getMessage($rightsKey, $language.localeId)</td></tr>
				<tr><td width="586" height="12" style="font-size:0px;line-height:0px;"></td></tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>