.container{
display:block;
width:960px;
margin:0 auto;
direction:ltr;
}

.kol{
margin:0 0 0 8px;
border-left:solid 3px #ededed;
}

.kol_title{
float:left;
margin:0 0 3px -11px;
padding:0 14px 10px 14px;
width:260px;
height:41px;
background:url(../image/website1/title_blue_left.png) no-repeat top;
font-family:"almoni-tzar";
font-weight:normal;
font-size:21px;
color:#ffffff;
line-height:43px;
}

.kol_arrow{
float:left;
margin:0 4px 0 0;
width:42px;
height:42px;
background:#f0f0f0 url(../image/website1/open.png) no-repeat center center;
}

.kolkore_date{
margin:0 0 0 5px;
padding:0 0 0 17px;
font-size:14px;
font-weight:normal;
color:#666666;
background:url(../image/website1/calendar_small.png) no-repeat left 4px;
}

.table_kol th{
padding:0 0 0 7px;
height:33px;
background:#f2f2f2;
border-left:solid 1px #ffffff;
text-align:left;
font-weight:normal;
}

.search_date,
.search_financing,
.search_from,
.search_info
{
float:left;
margin:5px 20px 0 0;
padding:0 0 0 17px;
font-size:14px;
font-weight:normal;
color:#666666;
background:url(../image/website1/search_date.png) no-repeat left 2px;
}
.search_financing{background-image:url(../image/website1/search_financing.png);}
.search_from{background-image:url(../image/website1/search_from.png);background-position:left 4px;}
.search_info{background-image:url(../image/website1/search_info.png);background-position:left 3px;}

.search_date strong,
.search_financing strong,
.search_from strong
{
font-weight:bold;
color:#333333;
}

.search_content:hover .search_date,
.search_content:hover .search_financing,
.search_content:hover .search_from,
.search_content:hover .search_info
{
color:#ffffff;
background-position:left -98px;
}

.search_content:hover .search_from{background-position:left -96px;}
.search_content:hover .search_info{background-position:left -97px;}

.search_content:hover .search_date strong,
.search_content:hover .search_financing strong,
.search_content:hover .search_from strong
{color:#ffffff;}


.content .search_content{
display:block;
margin:4px 0 0 18px;
padding:10px 12px 12px 12px;
background:#ececec;
font-size:16px;
color:#333333;
text-decoration:none;
}

.content .search_content:hover{
background:#04bde5;
color:#ffffff;
}

.advanced_subject{
float:left;
width:355px;
}

.content a.advanced_close{
float:right;
margin:-38px 0 0 0;
padding:0 0 0 50px;
font-family:Arial;
font-size:12px;
color:#999999;
text-decoration:none;
line-height:38px;
/*hadar*** background:url(../image/website1/advanced_close.png) no-repeat left;**/
}
.content a.advanced_close:hover{text-decoration:underline;}
.advanced_submit{
float:left;
padding:9px 40px;
font-family:"almoni-tzar";
font-weight:normal;
font-size:21px;
color:#ffffff;
background:#04bde5;
border:0;
cursor:pointer;
}

.advanced_clear{
float:left;
margin:5px 0 0 16px;
font-family:Arial;
font-weight:normal;
font-size:12px;
color:#999999 !important;
}