/* CSS Document */
p, li, td
{
	font-size:11pt;
	font-family:arial, helvetica;
	color:#0F3A6A;
}

table.deco
{
	background-color: #FFFFFF;
	width: 700px;	
}

th
{
	font-family:arial, helvetica;
	font-size: 13pt;
	color:#003366;
	background-color: #EFD77A;
	border-bottom-color: #003366;
	border-bottom-width: 2px;
}

th.title
{
	font-family:arial, helvetica;
	font-size: 15pt;
	color:#003366;
	background-color: #FFFFFF;
}

p.small
{
	font-size: 9pt;
	font-family: arial, helvetica;
	color:#0F3A6A;
}

h1
{
	font-size: 10pt;
	font-family:arial, helvetica;
	color:000000;
	text-decoration:none;
	background-color:#355346;
}

h2
{
	font-family:arial, helvetica;
	font-size: 13pt;
	color:#660033;
	text-decoration:none;
	line-height: 0px;
}

h3
{
	font-family:arial, helvetica;
	font-size:11pt;
	font-weight: bold;
	color:#FF9900;
	text-decoration:underline;
	line-height:0px;
}

ul
{
	list-style:square outside; 
}

text 
{
	color:#355246;
}

hr
{
	size:2;
	color:333366;
}

body
{
	background-color:FFFFFF;
}

a:link    
{color:660033}
a:visited 
{color:CC3399}
a:active  
{color:666666}
a:hover   
{color:666666;
font-weight:normal;
text-decoration:underline
}